/* ContactUs.css */

.pageheading {
    padding: 10px;
    color: #ce4444;
    font-size: 30px;
    font-weight: 500;
    border-top: 0.1px solid #cccccca8;
    border-bottom: 0.1px solid #cccccca8;
    font-family: 'Ubuntu', 'Segoe UI', sans-serif;
}

h2 {
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.internalSections {
    display: flex;
    width: 99%;
    padding: 20px;
}

.type {
    font-weight: 500;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.blob{
    background-color: white;
    border-radius: 90px;
    width: 50px;
    height: 4px;
    margin: 3px 0px 10px 10px;
}

.leftSide {
    padding: 20px;
    width: 50%;
    /* border-right: 10px solid #ce4444;
    border-bottom: 10px solid #ce4444;
    border-top: 1px solid #ce4444;
    border-left: 1px solid #ce4444;
    border-radius: 30px; */
    background-color: #ce4444;
    color: white !important;
}

.rightField {
    width: 50%;
    padding: 15px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.icon {
    background-color: #ce4444;
    color: white;
    margin: 0px !important;
    padding: 20px !important;
}

.one {
    margin-right: 5px !important
}

.two{
    margin-left: 5px !important
}
.inputRow {
    display: flex;
    width: 100%;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.inputField {
    box-sizing: border-box;
    flex: 1;
    margin: 0px;
    padding: 30px;
    border-radius: 4px;
    border: 2px solid #322b2b62; /* Updated border color */
    width: 100%;
}

.textArea {
    box-sizing: border-box;
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #322b2b62; /* Updated border color */
    width: 100%;
}

.inputField input:focus {
    border: 2px solid #ce4444; /* Border color when the input field is focused */
}

.textArea:focus {
    border: 2px solid #ce4444; /* Border color when the textarea is focused */
    outline: none;
}

.contactButton {
    margin-top: 10px; /* Adjusted margin for the button */
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
    .internalSections {
        flex-direction: column;
        padding: 0px;
       
    }

    .leftSide,
    .rightField {
        width: 100%;
        border: none; /* Remove borders when stacked vertically */
        border-radius: 0; /* Remove border-radius when stacked vertically */
        padding: 0px;
    }

    .leftSide{
        padding: 10px;
    }
    .rightField {
        margin-top: 10px;
        padding: 0px;
    }
    
    .contentContact .content {
        width: 100%;
    }
}
