@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}





.background li:nth-child(0) {
    left: 72%;
    width: 50px;
    height: 50px;
    bottom: -50px;
    animation-delay: 0s;
}
.background li:nth-child(1) {
    left: 68%;
    width: 192px;
    height: 192px;
    bottom: -192px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 13%;
    width: 126px;
    height: 126px;
    bottom: -126px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 61%;
    width: 242px;
    height: 242px;
    bottom: -242px;
    animation-delay: 1s;
}
.background li:nth-child(5) {
    left: 35%;
    width: 193px;
    height: 193px;
    bottom: -193px;
    animation-delay:0s;
}

.background li:nth-child(7) {
    left: 61%;
    width: 43px;
    height: 43px;
    bottom: -43px;
    animation-delay: 5s;
}
.background li:nth-child(8) {
    left: 76%;
    width: 40px;
    height: 40px;
    bottom: -40px;
    animation-delay: 13s;
}
.background li:nth-child(9) {
    left: 5%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 3s;
}
.background li:nth-child(10) {
    left: 21%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 18s;
}
.background li:nth-child(11) {
    left: 87%;
    width: 172px;
    height: 172px;
    bottom: -172px;
    animation-delay: 21s;
}


@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 20%;
    }
}

.hero {
    width: 100%;
    position: relative;
    background-color: transparent;
    
}

  /* Content Styles */
  .content {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }


  .wave{
    margin: 0px;
    padding: 0px;
   margin-top: 9px;
    width: 100%;
   background-color: transparent;
    
  }

.background {
    position: absolute; /* Position relative to the nearest positioned ancestor (.parent-component) */
    width: 100%; /* Width relative to the parent's width */
    height: 100%; /* Height relative to the parent's height */
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #fcf4f4;
    overflow: hidden;
    z-index: -1; /* Set a lower z-index */
}


.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #F9E1E1;
    animation: animate 6s linear infinite;
}





.left, .right {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */

    width: 50%;
}

.heading{
    font-size: 60px;
    color: #ce4444;
    font-weight: bold;
    padding-bottom: 10px;
}

.subheading{
    font-size: 25px;
    padding-bottom: 25px;
}

.buttonsRow{
    display: flex;
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
    .buttonsRow button {
        width: fit-content !important;
    }
    .right{
        display: none;
    }
    .left{
        width: 100%;
    }
}