.content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homeAbout {
    background-color: #CE4444;
    width: 100%;
    height: 700px;
  }